body {
  line-height: 1.25;
  font-family: "メイリオ","Meiryo","ＭＳ Ｐゴシック",Verdana,"ヒラギノ角ゴシック",Hiragino Sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,sans-serif;
}

.item-contents-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0; 
  width: 100vw;
}

.item-contents {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.item-title {
  font-size: 22px;
  font-weight: bold;
}

.item-img-content {
  position: relative;
}

.contents-list {
  display: flex;
  justify-content: space-around;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

span {
  display: flex;
}

.user-name {
  margin-right: 5vw;
}

.category-name {
  margin-right: 2vw;
}